# Environment variables
.env
.env.*
!.env.example
!.env.sample
**/.env
**/.env.*
!**/.env.example
!**/.env.sample

# Secrets and certificates
*.pem
*.key
*.crt
*.csr

# Dependency folders
node_modules/

# Build output
/dist/
/build/
coverage/
